.openning-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .os-title{
        font-size: 1.7em;    
        text-align: center;
        color: chartreuse;
        text-transform: uppercase;
        letter-spacing: 1em;
        line-height: 2em;        
        text-shadow: 5px 5px 5px  rgba(128, 255, 0, 0.288);
    }

    .os-cards {
        display: flex;
    }

    .os-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        height: 7em;
        width: 5em;        
        margin: 2em;
        background-color: chocolate;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(210, 105, 30, 0.24);
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        cursor: pointer;

        &:first-of-type{
            background-color: blue;
            transform: rotate(-20deg);
            animation-direction: normal;
            
        }

        &:last-of-type{
            background-color: blueviolet;
            transform: rotate(20deg);
            animation-direction: reverse;
        }
        
    }

    .os-btn {
        padding: 1em 3em;
        background-color: chartreuse;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(128, 255, 0, 0.288);
        cursor: pointer;

        &:hover{
            background-color: rgba(128, 255, 0, 0.514);;
        }

    }

    @keyframes rotate{
        0% {
            transform: rotate(0);
        }

        25% {
            transform: rotate(10deg);
        }
        
        50%  {
            transform: rotate(0);
        }    

        75% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(0);
        }


    }

    @keyframes example {
        from {background-color: red;}
        to {background-color: yellow;}
      }

}