.openning-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .os-title{
        font-size: 1.7em;    
        text-align: center;
        color: chartreuse;
        text-transform: uppercase;
        letter-spacing: 1em;
        line-height: 2em;        
        text-shadow: 5px 5px 5px  rgba(128, 255, 0, 0.288);
    }

    .os-cards {

    }

    .os-card {
        display: inline-block;
        height: 10em;
        width: 7em;        
        margin: 1em;
        background-color: chocolate;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(210, 105, 30, 0.24);

        &:first-of-type{
            background-color: blue;
            transform: rotate(-20deg);
        }

        &:last-of-type{
            background-color: blueviolet;
            transform: rotate(20deg);
        }

    }

    .os-btn {
        padding: 1em 3em;
        background-color: chartreuse;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(128, 255, 0, 0.288);
        cursor: pointer;

        &:hover{
            background-color: rgba(128, 255, 0, 0.514);;
        }

    }



}