.main-page{
    background-color:rgba(0, 0, 0, 0.123);
    color: black;
    display: flex;
    flex-direction: column;

    font-size: 4rem;
    font-weight: bold;

    .counter {
        margin-top: 0.2em;
        font-size: 8rem;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100vmax;
        padding:0.25em ;
    }
}
