<div class="main-page">
 
    <div class="main-page-content">
        <div class="title">Failed</div>
        <div class="game-actions">
            <div class="game-action" (click)="retry()">Try Again</div>
            <div class="game-action" (click)="continue()" *ngIf="displayContinue">Continue (just for fun)</div>            
            <div class="game-action" (click)="restart()">Restart</div>
            <div class="game-action" (click)="home()">Home</div>                
        </div>    
    </div>

</div>
