<div class="menu-page" [ngClass]="{'open': (menuService.open$|async)}">
    <div class="menu-page--content">
        <div class="menu-page--header">
            <div class="menu-page--title">Menu <small> (Version: 1.0) </small></div>
            <div class="menu-page--close" (click)="onClose()">X</div>
        </div>
        <div class="menu-page--section">
            <div class="menu-section--title">Settings:</div>

            <div class="setting-items">
                <div class="setting-item">
                    <div class="setting-item--title ">Sound:</div>
                    <div class="setting-item--btn" 
                            [ngClass]="{'crossed': (isSoundDisabled() || isIOS), 'disabled': isIOS }"
                            (click)="toggleSound()" >♫</div>
                </div>
                <div class="setting-item">
                    <div class="setting-item--title">Vibration:</div>
                    <div class="setting-item--btn crossed"
                            [ngClass]="{'crossed': (isVibrateDisabled() || isIOS), 'disabled': isIOS }"
                            (click)="toggleVibrate()">↭</div>
                </div>
                <div class="setting-item">
                    <div class="setting-item--title">Backgound:</div>
                    <div class="setting-item--btn " 
                            [ngClass]="{'crossed': isBackgroundDisabled()}"
                            (click)="onBackgroundToggle()">bg</div>
                </div>
            </div>
        </div>
        <div class="menu-page--section">
            <div class="menu-section--title">Results:</div>
            <div class="mini-cards" >
                <div class="mini-card" 
                    *ngFor="let level of memoryGameManagerService.getGameMetadat()" 
                    [ngClass]="{'mini-card--disabled':(level.level >memoryGameManagerService.getUserMaxLevel())}"
                    (click)="onSelectLevel(level)">
                    <div class="mini-card--level">Level: {{level.level}}</div>
                    <div class="mini-card--paris">cards: 2x{{level.cards/2}}</div>
                    <div class="mini-card--score">
                        <div *ngIf="memoryGameManagerService.getLevelHistory(level.level) as levelData; else elseScore ">
                                score: {{levelData.score}}
                        </div>                        
                        <ng-template #elseScore>
                            score: -
                        </ng-template>
                </div>
            </div>
        </div>            
    </div>
    <div class="menu-page--section">
        <div class="menu-section--title">Go To:</div>
        <div class="menu-btn" (click)="onHome()">Home</div>
        <div class="menu-btn" (click)="onRestart()">Restart</div>
    </div>
    
</div>
