
.menu-page{    
  
    --bb: 5px solid rgb(196, 188, 188);    
    --clr-bg: rgba(0, 0, 0, 0.733);
  

    z-index: 1000;
    background-color:var(--clr-bg);
    color: white;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;   
    transform: translatex(100%);
    transition: transform ease-in 500ms;

    &.open {
        transform: translatex(40%);
    }
}
.menu-page--content{
    margin: 0.5em 1em 0.5em;
}

.menu-page--header {
    width: 100%;    
    padding-bottom: 0.5em;
    border-bottom: var(--bb);      
}
.menu-page--title{       
    display: inline-block;    
    font-size: 2rem; 
    font-weight: 900;
    width: 90%;      
    position: relative;
    
}

.menu-page--close {    
    background-color: var(--clr-bg);
    display: inline-block;            
    font-size: 1.5rem; 
    font-weight: 900;      
    padding: 0.2em 0.2em;
    border-radius: 0.2em;   
    position: absolute;
    right: 0;
    transition: right ease-in-out 750ms;
    
    cursor:pointer;
    &:hover{
        background-color: grey;
    }
}

.menu-page.open  .menu-page--close {
    right: 100%;
}

.menu-page--section:not(:last-of-type) {
    border-bottom: var(--bb);  
    padding-bottom: 0.5em;      
    padding-top: 0.5em;  
}

.menu-section--title{
    font-size: 1.5rem; 
    font-weight: 900;     
    margin-bottom: 0.5em;
}

.setting-item {
    display: flex;
    font-size: 1.2srem;
    margin-bottom: 0.5em;
    
    &--title {
        width: 100px;
    }    

    &--btn{
        background-color: rgba(240, 255, 240, 0.096);
        border: 1px solid white;
        border-radius: 5px;        
        height: 1.5em;
        width: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgba(126, 110, 110, 0.685);
        }
    }
}

.crossed {
    position: relative;
}

.crossed:before {
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;    
    width: 100%;
    transform: rotate(45deg);
    
}

.crossed:after {
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;    
    width: 100%;
    transform: rotate(-45deg);
}

.mini-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: max(60%, 200px);
}

.mini-card {    
    border: 1px solid white;
    border-radius: 5px;
    margin: 0.1em;
    padding: 0.3em;
    cursor:pointer;
    text-align: center;

    &:hover {
        background-color: rgba(214, 211, 211, 0.26);
    }
}


.disabled {
    pointer-events: none;
    cursor: initial;
    background-color: rgba(0, 0, 0, 0.315);
}


.mini-card--disabled {
    @extend .disabled;

    background-color: grey;
}


.menu-btn {
    display: inline-block;
    padding: 0.3em 0.9em;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;    

    &:hover {
        background-color: rgba(214, 211, 211, 0.26);
    }
}




@media (max-width:1045px){
    .menu-page.open  { 
        transform: translatex(20%);
    }

}

@media (max-width:580px){
    .mini-card--paris {
        display: none;
    }
    .menu-page--title{ 
        font-size: 1.5rem;
    }

    .menu-section--title {
        font-size: 1rem;
    }
    .mini-card {
        font-size: smaller;
    }

}
   
