<!--
  <app-openning-screen #openning></app-openning-screen>
-->
<app-menu></app-menu>

<header class="header" [ngClass]="getBackgroundColor()">
  <div class="header__section level">Level<div class="value">{{level}}</div></div>
  <div class="header__section score"> Score <div class="value">{{totalScore}}</div></div>
  <div class="header__section current_score">Timer <div class="value">{{current}}</div></div>
  <div class="header__section lives">&#x2764;<div class="value">{{lives}}</div></div>  
  <div class="header__section_menu" (click)="onMenu()">
    <div class="menu"></div>
  </div>
</header>



<main [ngClass]="{'disabled': (menuService.open$ | async)} ">    
  <ng-container #mainTopScreen></ng-container>
  
  <ng-container *ngFor="let data of getData(); index as idx ">  
    <app-card class="app-card" 
              [data]="data"
              [ngStyle]="getCardLevelDimension()"
              [cardIndex] = "idx"
              [disableBackground]="isBackgroundDisabled()"
              [discover]="isDiscoverCardOnInit()"
              (cardClicked)=onCardClicked($event)
              >
    </app-card>
  </ng-container>  
</main>

