<app-openning-screen #openning></app-openning-screen>

<header class="header" [ngClass]="getBackgroundColor()">
  <div class="header__section level">Level<div class="value">{{level}}</div></div>
  <div class="header__section score"> Score <div class="value">{{totalScore}}</div></div>
  <div class="header__section current_score">Timer <div class="value">{{current}}</div></div>
  <div class="header__section lives">&#x2764;<div class="value">{{lives}}</div></div>  
  <div class="header__section_menu" (click)="home();">
    <div class="menu"></div>
  </div>
</header>



<main>    
  <ng-container #mainTopScreen>
  </ng-container>
  
  <div class="screen" #screen (click)="onRun()">
      <div class="screen__title">MEMORIZE</div>
      <div class="screen__timer">{{showTimer}}</div>
  </div>
  <ng-container *ngFor="let data of getData(); index as idx ">  
    <app-card class="app-card" 
              [data]="data"
              [ngStyle]="getCardLevelDimension()"
              [cardIndex] = "idx"
              [disableBackground]="isBackgroundDisabled()"
              (cardClicked)=onCardClicked($event)
              >
    </app-card>
  </ng-container>  
</main>

