.actions {
    display: flex;
    justify-content: space-around;
    background-color: #{var(--clr-primary)};
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.action {
    background-color: lightgray;    
    padding: 0.5em;   
    border-radius: 25%;
    cursor: pointer;

    &:hover {
        background-color: #{var(--clr-accent)};
    }
}

.disabled {
    pointer-events: none;
    cursor: initial;
    background-color: rgba(0, 0, 0, 0.315);
}

.action--center {
    display:flex;
    
    div {
        border: 1px solid;
    }

    div + div {
        margin-left: 0.2em
    }
}

.crossed {
    position: relative;
}

.crossed:before {
    content: '';
    position: absolute;
    background-color: black;
    height: 1px;    
    width: 100%;
    transform:  translateX(-25%) 
                translateY(0.7em)
                rotate(45deg);
    
}

.crossed:after {
    content: '';
    position: absolute;
    background-color: black;
    height: 1px;    
    width: 100%;
    transform:  translateX(-75%) 
                translateY(0.7em)
                rotate(-45deg);
}

