header {
    display: flex;
    justify-content: space-between;
    background-color: #{var(--clr-primary)};

    .header__section  {                                
        width: 25%;
        text-align: center;
        font-weight: bold;                        
        padding: 0.3em;
        border: 1px solid black;
        border-radius: 5px;
        
    }
    .value {
        text-align: center;
        font-weight: normal;
    }

    .current_score {
        transition: all ease-in-out 500ms;

        &.complete {
            background-color: green;
        }
        &.warnning {
            background-color: yellow;
        }
        &.failed {
            background-color: red;
        }
    }
}

