header {
    display: flex;
    justify-content: space-between;
    background-color: #{var(--clr-primary)};
    transition: background-color linear 500ms ;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    .header__section  {                                           
        font-weight: bold;                        
        padding: 0.3em;                       
    }

    .header__section--left {
        margin-left: 1em;                
    }
    .header__section--center{
        text-align: center;    
    }
    .header__section--right {
        margin-right: 1em;
        
    }
    .value {        
        font-weight: normal;    
        display: inline-block;    
    }
}

.game-warning {
    background-color: rgb(238, 238, 9);   
}

.game-alert {
    background-color: rgb(255, 68, 0);
}

.game-failed {
    background-color: rgb(255, 0, 0);
}

.header__section_menu{    
    width: 3em;
    height: 100%;
    background-color: var(--clr-primary);
    border: 1px solid black;
    border-radius: 0.5em;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.548);
    }
    .menu {
        --menu-height: 3px;
        --menu-color: black;
        position: relative;        
        background-color: var(--menu-color);
        height: var(--menu-height);
        width: 80%;
        
        

        &::before {
            content: '';
            position: absolute;
            background-color: var(--menu-color);
            height: var(--menu-height);
            width: 100%;
            top: -0.5em;
        }

        &::after {
            content: '';
            position: absolute;
            background-color: var(--menu-color);
            height: var(--menu-height);
            width: 100%;
            top: 0.5em;
        }


    }

}


