header {
    display: flex;
    justify-content: space-between;
    background-color: #{var(--clr-primary)};
    transition: background-color linear 1000ms ;

    .header__section  {                                
        width: 25%;
        text-align: center;
        font-weight: bold;                        
        padding: 0.3em;
        border: 1px solid black;
        border-radius: 5px;
        
    }
    .value {
        text-align: center;
        font-weight: normal;        
    }

    .heart {
        color: red;
    }   
}

.game-warning {
    background-color: rgb(238, 238, 9);   
}

.game-alert {
    background-color: rgb(255, 68, 0);
}

.game-failed {
    background-color: rgb(255, 0, 0);
}
