main{    
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.screen {
    display: none;

    &--display {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.192);
        width: 100%;        
        height: 100%;
        justify-content: center;        
        align-items: center;
    }

    &__timer,
    &__title {
        color: rgba(255, 255, 255, 0.719);
        font-size: 7em;
        font-weight: bold;
        text-shadow: 5px 5px 5px black;        
        text-align: center;
    }

    &__title{
        font-size: 3em;
    }

}

